<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Select what divisions and how many contest info you want</h1>
    <form action="/api/cf/userrecentcontest" method="POST">
        <textarea name="names" width=50 height=50></textarea>
    </br>
        <input type="submit" value="Get List"/>
    </form>


  </body>
</html>
